.bodyStyle {
  padding-top: 70px;
  padding-bottom: 40px;
  padding-right: 10%;
  padding-left: 10%;
}

.footStyle {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0px 0px 0px 0px;
  height: 30px;
  width: 100%;

  border-top: 1px solid #808080;
  background-color: #f0f0f0;
} 
      
.dropdown:hover {
  -moz-box-shadow:    inset 0 0 5px #a9a9a9;
  -webkit-box-shadow: inset 0 0 5px #a9a9a9;
  box-shadow:         inset 0 0 5px #a9a9a9;
}
 
.dropdown:hover .dropdown-menu {
  display: block;
}

.panel-body {
  overflow: auto;
}
      
.clear {
  opacity: 0.8;
}
